body, html {
    background-image: url(../../assets/images/kamura.jpg);
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}

.jumbotron{
    border-radius: 25px; 
    background-color: rgba(47, 79, 79, .9);
    margin-top: 50px;
    color: white;
}

.img__wrap {
    position: relative;
    height: 200px;
    width: 257px;
    margin: 25px 0px 50px 0px;
  }
  
  .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }
  
  .bloc-tabs {
    display: flex;
  }

  .tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  
  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(88, 147, 241);
  }
  
  button {
    border: none;
  }

  .content-tabs {
    flex-grow : 1;
  }

  .content {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }

  .active-content {
    display: block;
  }

  ul:hover {
    cursor: pointer;
  }

  .damageIcons {
    height: 40px;
    width: 40px;
  }
